<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/fontawesome.css">
    <title>Login</title>
</head>

<body>
    <div class="loginContainer flex">
        <form action="">
            <img src="../img/logo.png" alt="">
            <div class="formContainer flex">
                <div class="inputContainer flex">
                    <h4>Sign Up</h4>
                </div>
                <div class="inputContainer flex">
                    <label for="name">
                                <span><i class="fas fa-user"></i>Full Name</span>
                                <input type="text" placeholder="First Name & Last Name" id="name">
                            </label>
                </div>
                <div class="inputContainer flex">
                    <label for="login">
                                <span><i class="fas fa-user-lock"></i>Login </span>
                                <input type="text" placeholder="Username to log in (min. 3 chars.)" id="login">
                            </label>
                </div>
                <div class="inputContainer flex">
                    <label for="email">
                            <span><i class="fas fa-envelope"></i>Your Email</span>
                            <input type="Email" id="email" placeholder="Email">
                        </label>
                </div>
                <div class="inputContainer flex">
                    <label for="password">
                                <span><i class="fas fa-lock"></i> Password</span>
                                <input type="password" placeholder="Password" id="password">
                            </label>
                </div>
                <div class="inputContainer flex">
                    <label for="password">
                        <input type="password" id="confirmPassword" placeholder="Confirm password">
                    </label>
                </div>
                <div class="inputContainer inputContainerCheckbox flex">
                    <label for="remember">
                                    <input type="checkbox" name="" id="remember">
                                                <span>Remember me on this computer</span>
                                            </label>
                </div>
                <div class="inputContainer flex">
                    <button type="submit">Sign up</button>
                </div>


            </div>
            <p>
                <a href="login.html">If you are already have account, pleasesign in</a>.</p>
        </form>
    </div>
    <script src="../libs/jquery3.2.1.js"></script>
    <script async src="../js/all.min.js"></script>

</body>

</html>